.card {
  background-color: var(--dark-blue);
  padding: 1.5rem;
  border-radius: 0.625rem;
  

}

.card .star{
  background-color: var(--medium-grey);
  padding: 0.75rem;
  border-radius: 50px;
}

.card h1{
  color: #fff;
  margin: 1rem 0 1rem;
}

.card p{
  color: var(--medium-grey);
  line-height: 1.8;
  font-size: 15px;
}
