
.container-round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px; 
  border-radius: 25px;
   background: var(--dark-blue);
}

.container-round > button{
  border: 0;
}

h2.title{
  color: var(--white);
  margin-top: 1.5rem;
}

.rating-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;}


.rating-button {
  background: var(--dark-blue);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.submit-btn {
  background: var(--orange);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  border-radius: 25px;
  border: 0;
  margin: 2rem 0;
  text-transform: uppercase;
}

.rating-button:hover {
  background: var(--orange);
  color: var(--white);
  cursor: pointer;
}

.submit-btn:hover {
  background: var(--white);
  color:var(--orange);
  cursor: pointer;
}

.clicked {
  background: var(--medium-grey);
  color: var(--white);
}