.image-container {
display: flex;
justify-content: center;
align-items: center;
margin: 1rem 0;
}

.image-container > img{
  max-height: 6rem;
  object-fit: cover;
}

.rating{
display: flex;
justify-content: center;
align-items: center;
margin: 1.5rem 2.5rem;
background: var(--dark-blue);
padding: 0.25rem;
border-radius: 45px;
}

.rating > p{
  color: var(--orange);
}

.message > h2 {
  text-align: center;
  color: var(--white);
}

.message > p {
  text-align: center;
  color: var(--light-grey);
}